.background {
  -fx-background-color: #1d1d1d;
}

.label {
  -fx-font-size: 10pt;
  -fx-font-family: "Candara";
  -fx-text-fill: white;
  -fx-opacity: 1;
}

.label-header {
  -fx-font-size: 22pt;
  -fx-font-family: "Candara";
  -fx-font-style: bold;
  -fx-text-fill: white;
  -fx-opacity: 1;
}

.label-header2 {
  -fx-font-size: 12pt;
  -fx-font-family: "Candara";
  -fx-font-style: bold;
  -fx-text-fill: white;
  -fx-opacity: 1;
}

.grid {
  -fx-base: #1d1d1d;
  -fx-control-inner-background: #1d1d1d;
  -fx-background-color: #1d1d1d;
  -fx-padding: 10;
}

.grid .column-header-background {
  -fx-background-color: transparent;
}

.grid .column-header, .table-view .filler {
  -fx-size: 35;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
  -fx-border-color: transparent transparent derive(-fx-base, 80%)
    transparent;
  -fx-border-insets: 0 10 1 0;
}

.grid .column-header .label {
  -fx-font-size: 20pt;
  -fx-font-family: "Candara";
  -fx-text-fill: white;
  -fx-alignment: center-left;
  -fx-opacity: 1;
}

.grid:focused .table-row-cell:filled:focused:selected {
  -fx-background-color: -fx-focus-color;
}

.text-field {
  -fx-font-size: 12pt;
  -fx-font-family: "Candara";
  -fx-background-color: #e2e2e2;
  -fx-text-fill:#1d1d1d;
}

.button {
  -fx-padding: 5 22 5 22;
  -fx-border-color: #e2e2e2;
  -fx-border-width: 2;
  -fx-background-radius: 0;
  -fx-background-color: #1d1d1d;
  -fx-font-family: "Candara", Candara, Candara, Candara;
  -fx-font-size: 11pt;
  -fx-text-fill: #d8d8d8;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:default {
  -fx-background-color: -fx-focus-color;
  -fx-text-fill: #ffffff;
}

.button:default:hover {
  -fx-background-color: derive(-fx-focus-color, 30%);
}

.list-view {
	fx-background-color: #d8d8d8;
}